{% extends "base.html"%}
{% block title %} Activs: {% endblock %}

{% block main %}
    <fieldset>
        <legend>New activ</legend>
        <div class="editor-field">
              <form action="{% url "activ_add" %}" method="post">
                {% csrf_token %}
                <input type="text" name="cub_number" />
                  <select name="department_id">
                    {% for department in departments %}
                        <option value="{{ department.id }}">{{ department.name }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Add activ" />
            </form>
        </div>
        <div class="editor-label">
             <table>
                {% for activ in object_list %}
                    <tr>
                        <td>
                            <p>
                                {{ activ.cub_number }}
                            </p>
                        </td>
                         <td>
                            <p>
                                {{ activ.department.name }}
                            </p>
                        </td>
                        <td>
                            {% block rightmenu %}
                                  <a href="{% url "activ_edit" activ.id %}">Edit</a> |
                                  <a href="{% url "activ_delete" activ.id %}">Delete</a>
                            {% endblock %}
                        </td>
                    </tr>
                {% endfor %}
            </table> 
        </div>
    </fieldset>
{% endblock %}