{% extends "base.html" %}
{% block title %} Categories: {% endblock %}

{% block main %}
<table>
    <tr>
        <th>&ensp;&ensp;</th>
        <th>&ensp;&ensp;</th>
    </tr>
    {% for category in object_list %}
        <tr>
            <td>
                <p>
                    {{ category.name }}
                </p>
            </td>
            <td>
                {% block rightmenu %}
                      <a href="{% url "category_edit" category.id %}">Edit</a> |
                      <a href="{% url "category_delete" category.id %}">Delete</a>
                {% endblock %}
            </td>
        </tr>
    {% endfor %}
</table> 
<form action="{% url "category_add" %}" method="post">
    {% csrf_token %}
    <input type="text" name="name" />
    <input type="submit" value="Add category" />
</form>
{% endblock %}