{% load staticfiles %}

<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link type="text/css" href={% static "css/main.css"%} rel="stylesheet" />
    <link type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    {% block title %}
    {% endblock %}
</head>
<body>
    <div>
        {% block header %}
        {% endblock %}
    </div>
    <div id="main">
        {% block main %}
        {% endblock %}
    </div>
    <div id="righttmenu">
        {% block leftmenu %}
        {% endblock %}
    </div>
    <div id="footer">
        <p>All rights are secure!</p>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="../static/scripts/requestModal.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>